.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */


/* Edit Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* App.css */

/* Main container styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Section styles */
.section {
  margin-bottom: 20px;
}

/* Class styles */
.class {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.class h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.class p {
  margin: 5px 0;
}

.editing input {
  margin-bottom: 5px;
}

/* Student styles */
.student {
  background-color: #eaeaea;
  padding: 10px;
  margin-bottom: 5px;
}

.student h4 {
  font-size: 16px;
  margin-bottom: 3px;
}

.student p {
  margin: 3px 0;
}

.editing input {
  margin-bottom: 3px;
}

/* Button styles */
.button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.button:hover {
  background-color: #45a049;
}
